        <footer class="footer footer-default">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="/index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/about-us.html">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/blog.html">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    A blog by <a href="#">riouwa</a>
                </div>
            </div>
        </footer>